.Cover{
        display: flex;
        height: 400px;
        align-items: flex-end;
        background-size: cover;
        background-position: center center;
        width: 100%;
        opacity: 0.9;
}
/* background-image: url(../../Images/GodofWar-header.jpg); */

.GradientBackgroundTitle{
        background-image: linear-gradient(rgba(33, 37, 43, 0), rgba(33, 37, 43, 0.5), rgb(33, 37, 43));
        width: 100%;
        padding: 1.5em;
}

.TextDecorate{
        width: 100%;
        color: rgb(255, 255, 255);
        text-decoration: none;
}

.TextDecorate:hover{
        color: rgba(255, 255, 255, 0.788);
        text-decoration: none;
}
