.GradientHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    width: 100%;
}