.NoPadding{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.NoMargin{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.RightHandSideComponent{
  height: 100vh;
  width: calc(100vw - 400px);
  /* margin-left: 100px; */
  margin-top: 0px;
}
