body{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: rgb(226, 226, 226);
  background-color: rgb(23, 26, 30);
}

.NoPadding{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.PaddingSide{
  padding: 0 7rem 0 7rem;
}

.NoMargin{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.MarginTopBot{
  margin: 10rem 0 10rem 0;
}

.RightHandSideComponent{
  height: 100vh;
  width: calc(100vw - 400px);
  /* margin-left: 100px; */
  margin-top: 0px;
}
